.chat-container {
  max-width: 800px;
  height: 600px;
  width: 100%;
  margin: 0 auto;
  border: 2px solid #d3d3d3;
  border-radius: 5px;
  .chat-conversation {
    border-left: 2px solid #d3d3d3;
    display: flex;
    flex: 1 1 60%;
    flex-flow: column nowrap;
  }

  display: flex;
}
